name: Deploy

  on:
    push:
      branches: ["main"]


  jobs:
    deploy:
      runs-on: ubuntu-latest

      steps:
        - name: Chechout
          uses: actions/checkout@v6
        - name: deploy
          run: rsync root@176.124.219.190 index.html /var/www/html/
