name: Deploy

on:
  push:
    branches: ["main"]


jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Chechout
        uses: actions/checkout@v6
      - name: deploy
        run: rsync index.html root@176.124.219.190:/var/www/html/
